/* SCSS HEX
rich-black-fogra-29: #02111bff;
powder-blue: #bee9e8ff;
maximum-green: #679436ff;
cadet: #5d737eff;
cg-blue: #0081a7ff;
*/
/* Global styles
---------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
body{
  color: #07070A;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
a{
  color: #24272B
}
a:hover{
  text-decoration: none;
}
h1{
  font-size: 100px;
  line-height: 1;
}
h2{
  font-size: 45px
}

h1,h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap{
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

/* Profile
---------------------------------*/
header{
  background: #bee9e8ff;
  text-align: center;
}

/* Projects
---------------------------------*/
.projects{
  background: #61F2C2;
}
.projects a {
  color: #2F3061;
}
.projects .btn {
  color: #f7fff7;
  background: #2f3061;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}
.project-item{
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.project-item img {
  float: left;
  margin-right: 20px;
}
.project-item h3{
  margin-top: 0;
}

/* .container-img{
  width: 200px;
  margin: 0 auto;
  border: 2px solid black;
  float: left;
}

.container-txt{
  border: 2px solid black;
  width: 600px;
} */

/* Work Experience
---------------------------------*/
.work-experience:{
  background: #F6F5AE;
}



/*Contact info*/
footer{
  background:#343434;
  color: #D6E681;
  text-align: center;
}
footer a{
  color: #D6E681;
}

.contact-list{
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
}
.contact-list a{
  padding: 15px;
  display: inline-block;
}
