/* SCSS HEX
rich-black-fogra-29: #02111bff;
powder-blue: #bee9e8ff;
maximum-green: #679436ff;
cadet: #5d737eff;
cg-blue: #0081a7ff;
*/
/* Global styles
---------------------------------*/
img{
  width: 300px; /*Declaration*/
}
body{
  color: #07070A;
}
a{
  color: #24272B
}
a:hover{
  text-decoration: none;
}
.content-wrap{
  width: 900px;
  margin: 0 auto;
}

/* Profile
---------------------------------*/
header{
  background: #bee9e8ff;
}

/* Projects
---------------------------------*/
.projects{
  background: #61F2C2;
}
.projects a {

}
.projects a {
  color: #f7fff7;
  background: #2f3061;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}
.projects a:hover{
  background: rgba(47, 48, 97, 80);
}

/* Work Experience
---------------------------------*/
.work-experience:{
  background: #F6F5AE;
}



/*Contact info*/
footer{
  background:#d3f6db;
}
